.root {
  display: flex;
  align-items: center;
  width: 100%;
  padding-right: calc(var(--spacing-unit) * 3.125);
}

.root:not(:last-child) {
  margin-bottom: calc(var(--spacing-unit) * 2.75);
}

.text {
  margin-top: calc(var(--spacing-unit) * -0.75);
}

.imageContainer {
  display: flex;
  width: 13.75rem;
  margin-right: calc(var(--spacing-unit) * 5.875);
}

.imageContainer img {
  min-width: 13.75rem;
  margin-bottom: -1.125rem;
}
