/* Variables */
:root {
  --spacing-unit: 16px;
  --bg: #1f3933;
  --text-primary: #fff;
  --font-size-base: 22px;
  --font-size-xs: 14px;
  --font-size-sm: 18px;
  --font-size-md: 20px;
  --font-size-lg: 44px;
}

/* Resets */
* {
  box-sizing: border-box;
}

hr {
  margin: 0;
}

h2,
.h2 {
  margin-bottom: 0;
}

/* Common */
h1,
h2,
.h1,
.h2 {
  font-family: 'Barlow Condensed', sans-serif;
}

h1 {
  font-size: var(--font-size-lg);
  letter-spacing: 10px;
  margin-bottom: calc(var(--spacing-unit) * 2.625);
}

h2,
.h2 {
  font-size: var(--font-size-base);
  font-weight: 500;
  letter-spacing: 2px;
}

.subheading {
  letter-spacing: 4px;
}

.title {
  margin-bottom: calc(var(--spacing-unit) * 0.5);
  letter-spacing: 1.2px;
}

.title.out-of-stock {
  text-decoration: line-through;
}

.subtitle {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  font-size: var(--font-size-md);
  letter-spacing: 1.2px;
  text-transform: uppercase;
}

header {
  text-align: center;
  margin-bottom: calc(var(--spacing-unit) * 0.75);
  text-transform: uppercase;
}

/* Main */
html {
  -webkit-font-smoothing: antialiased;
  background: var(--bg);
  color: var(--text-primary);
  font-size: var(--font-size-base);
  font-family: 'Nunito', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}
