/* Variables */
:root {
  --spacing-unit: 0.833vw;
  --bg: #1f3933;
  --text-primary: #fff;
  --font-size-base: 1.37rem;
  --font-size-xs: 0.875rem;
  --font-size-sm: 1.125rem;
  --font-size-md: 1.25rem;
  --font-size-lg: 2.75vw;
}

/* Resets */
* {
  box-sizing: border-box;
}

hr {
  margin: 0;
}

h2,
.h2 {
  margin-bottom: 0;
}

/* Common */
h1,
h2,
.h1,
.h2 {
  font-family: 'Barlow Condensed', sans-serif;
}

h1 {
  font-size: var(--font-size-lg);
  letter-spacing: 0.521vw;
  margin-bottom: calc(var(--spacing-unit) * 2.625);
}

h2,
.h2 {
  font-size: var(--font-size-base);
  font-weight: 500;
  letter-spacing: 0.104vw;
}

.subheading {
  letter-spacing: 0.208vw;
}

.title {
  margin-bottom: calc(var(--spacing-unit) * 0.5);
  letter-spacing: 0.063vw;
}

.title.out-of-stock {
  text-decoration: line-through;
}

.subtitle {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 300;
  font-size: var(--font-size-md);
  letter-spacing: 0.063vw;
  text-transform: uppercase;
}

header {
  text-align: center;
  margin-bottom: calc(var(--spacing-unit) * 0.75);
  text-transform: uppercase;
}

/* Main */
html {
  -webkit-font-smoothing: antialiased;
  background: var(--bg);
  color: var(--text-primary);
  font-size: var(--font-size-base);
  font-family: 'Nunito', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
}
