.mainLayout {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.espressoAndCoffeeMenuGroup {
  padding-top: calc(var(--spacing-unit) * 5);
  padding-left: calc(var(--spacing-unit) * 6);
  padding-right: calc(var(--spacing-unit) * 6);
}

.espressoAndCoffeeMenuItems {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: calc(var(--spacing-unit) * 10);
  padding-top: calc(var(--spacing-unit) * 2.75);
  padding-bottom: calc(var(--spacing-unit) * 2.75);
  padding-right: calc(var(--spacing-unit) * 2);
}

.espressoAndCoffeeModifiers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-top: calc(var(--spacing-unit) * 2.75);
  padding-bottom: calc(var(--spacing-unit) * 2.75);
  column-gap: calc(var(--spacing-unit) * 4);
}

.questions {
  text-align: center;
}

.coldbrewMenuGroup {
  padding: calc(var(--spacing-unit) * 5) calc(var(--spacing-unit) * 6);
}

.coldbrewMenuItems {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: calc(var(--spacing-unit) * 3.5);
  margin-left: calc(var(--spacing-unit) * 10.375);
}

.espressCoffeeModifiers {
  display: flex;
}

.espressoAndCoffeeBottomTextContainer {
  padding-bottom: calc(var(--spacing-unit) * 2.75);
}

.espressoAndCoffeeBottomText {
  text-transform: uppercase;
  margin-top: 0;
  text-align: center;
}

.footnote {
  font-weight: 300;
  font-size: var(--font-size-xs);
}
