.root {
  text-transform: uppercase;
  margin-bottom: calc(var(--spacing-unit) * 0.5);
}

.description {
  font-family: 'Barlow Condensed', sans-serif;
  font-size: var(--font-size-sm);
  letter-spacing: 0.063px;
  font-weight: 400;
}

.details {
  font-weight: 300;
}
